<h1>Filter Results</h1>
<form action="/filter" method="POST">

  <h3>Neighborhood</h3>

  <label for="neighborhood">n1</label>
  <input type="checkbox" id="1" name="neighborhood[n1]">
  <!-- info goes in hash -->

  <label for="neighborhood">n2</label>
  <input type="checkbox" id="2" name="neighborhood[n2]">

  <h3>Data Set</h3>

  <label for="data-set">d1</label>
  <input type="checkbox" id="1" name="dataset[d1]">

  <button type="submit" value="Filter">Filter Results</button>
</form>