<h1>Filter Results Results</h1>
<p><%= params.inspect %></p>
<%= @datasetsShow %>
<script type="text/javascript">
  alert(<%=@datasetsShow%>);
</script>


<!-- move map here
get it showing
show one marker
show all markers
 -->