<h1>Filter Results</h1>

<form action="/filter" method="POST">

  <h3>Data Set</h3>
  <% @datasets.each do |dataset| %>
    <label for="data-set"><%= dataset %></label>
    <input type="checkbox" id="data-set-id" name="datasets[<%= dataset %>]">
  <% end %>

  <button type="submit" value="Filter">Filter Results</button>
</form>